<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd">


    <bean class="org.springframework.ws.server.endpoint.mapping.PayloadRootQNameEndpointMapping">
        <property name="mappings">
            <props>
                <prop key="{http://localhost/bis/schemas}BisRequest">datasetEndpoint</prop>
                <prop key="{http://mycompany.com/hr/schemas}HolidayRequest">holidayEndpoint</prop>
            </props>
        </property>
        <property name="interceptors">
            <bean class="org.springframework.ws.server.endpoint.interceptor.PayloadLoggingInterceptor"/>
        </property>
    </bean>


    <!-- hr service -->

    <bean id="holidayEndpoint" class="net.sumasoftware.ws.HolidayEndpoint">
        <constructor-arg ref="hrService"/>
    </bean>

    <bean id="hrService" class="net.sumasoftware.ws.HumanResourceService"/>

    <bean id="schema2" class="org.springframework.xml.xsd.SimpleXsdSchema">
        <property name="xsd" value="/WEB-INF/hr.xsd"/>
    </bean>

    <bean id="holiday" class="org.springframework.ws.wsdl.wsdl11.DefaultWsdl11Definition">
        <property name="schema" ref="schema2"/>
        <property name="portTypeName" value="HumanResource"/>
        <property name="locationUri" value="http://localhost:8080/bis/holidayService/"/>
        <property name="targetNamespace" value="http://mycompany.com/hr/definitions"/>
    </bean>


    <!-- data service -->
    <bean id="datasetEndpoint" class="net.sumasoftware.ws.DataSetEndPoint"/>

    <bean id="schema" class="org.springframework.xml.xsd.SimpleXsdSchema">
        <property name="xsd" value="/WEB-INF/bis.xsd"/>
    </bean>

    <bean id="data" class="org.springframework.ws.wsdl.wsdl11.DefaultWsdl11Definition">
        <property name="schema" ref="schema"/>
        <property name="portTypeName" value="dataseEndpoint"/>

        <property name="locationUri" value="http://localhost:8080/bis/dataService/"/>
        <property name="targetNamespace" value="http://localhost/bis/definitions"/>
    </bean>

</beans>